/* style.css */

body { 
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main {
    height: 97vh;
    background-color: rgb(238, 223, 193);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
}

h1 {
    margin: 0;
    padding-top: 30px;
    padding-left: 25px;
}

ul {
    margin-top: 0;
    padding-top: 10px;
    padding-left: 45px;
    line-height: 30px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(47, 38, 28);

}

a:hover, a:active {
    color: rgb(228, 153, 39);
}

#sun {
    position: fixed;
    left: 875px;
    top: 100px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgb(228, 153, 39);
}

#mountain-one {
    position: fixed;
    left: 300px;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 600px solid rgb(177, 136, 40);
}

#mountain-two {
    position: fixed;
    right: -250px;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 500px solid rgb(90, 66, 42);
}


#mountain-three {
    position: fixed;
    right: 50px;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 500px solid rgb(162, 126, 89);
}

#mountain-four {
    position: fixed;
    left: 0px;
    bottom: 0;
    height: 0;
    width: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 400px solid rgb(192, 120, 47);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 3vh;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}